{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    
    <title>BoroNest</title>
</head>
<body>

    <nav class="px-4 py-2 mx-auto shadow-lg">
        <div class="flex justify-between">
            <div class="flex">
                <!--Icon and name -->
                <a href="{% url 'index' %}" class="flex">
                    <img src="{% static 'users/images/icon.png' %}" class="h-12 w-12 mr-2">
                    <span class="font-bold text-lg text-gray-500">BoroNest</span>
                </a>
            </div>
            <div class="flex" >
                <!--Elements -->
                <a href="{% url 'index' %}" class="p-2 font-semibold text-gray-500">Listings</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="p-2 font-semibold text-gray-500">Dashboard</a>
                    <a href="{% url 'new_listing' %}" class="p-2 font-semibold text-gray-500">New Listing</a>
                    
                    <div class="user-container flex mx-2 my-2">
                        <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                            <img src="{{user.userprofile.image.url}}" class="rounded-full h-7 w-7">
                            <div class=" font-bold text-indigo-500">{{user}} </div>
                          </button>
                            
                        
                        
                        <div class="absolute right-0 z-10 mt-14 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="menu-list">
        
                            <div class="py-1" role="none">
                                <a href="{% url 'user_logout' %}" class="p-2 block font-semibold text-gray-500"  role="menuitem" tabindex="-1" id="menu-item-0">LogOut</a>
                                <a href="{% url 'password_change' %}" class="p-2 block font-semibold text-gray-500"  role="menuitem" tabindex="-1" id="menu-item-1" > Change Password</a>
                                <a href="{% url 'edit_user' %}" class="p-2 block font-semibold text-gray-500"  role="menuitem" tabindex="-1" id="menu-item-2">Edit User</a>
                            </div>
                        </div>
                    </div> 
                {% else %}
                    <a href="{% url 'user_login' %}" class="p-2 font-semibold text-gray-500">Login </a>
                {% endif %}
            </div>
        </div>
    </nav>
    

    {% if messages %}
		<div class="messages">
			{% for message in messages %}
				<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
					{{ message }}
				</div>
			{% endfor %}
		</div>
	{% endif %}

    {% block body %}
    {% endblock body %}
    <script >
        var menulist = document.getElementById('menu-list');
        menulist.style.display = 'none';
        document.getElementById('menu-button').onclick=function(){
            
            if(menulist.style.display == 'none'){
                menulist.style.display = 'block';
            }else{
                menulist.style.display = 'none';
            }
        }
    </script>
</body>
</html>